@charset "utf-8";
@import "compass";

$body-bg: #e1e1e1;
$text-color: #5c5c5c;
$brand-primary: #fccc26;

$navbar-inverse-bg: #141414;
$navbar-inverse-brand-color: $brand-primary;
$link-hover-color: $brand-primary;
$navbar-inverse-toggle-hover-bg: #000;

$btn-primary-color: #000;

$font-family-sans-serif: "Lato", Arial, sans-serif;
$font-size-base: 17px;

$line-height-base: 1.411764705; // 24/17

$font-size-h2: ceil(($font-size-base * 1.411)); // ~24px
$font-size-h3: ceil(($font-size-base * 1.235)); // ~21px
$font-size-h4: $font-size-base;

$headings-font-weight: 700;

$btn-default-bg:                 #ccc !default;

@import "_bootstrap";

/*
 * We're using Bootstrap's fixed navbar.
 * Links to things with anchors will be hidden behind
 * the navbar without the following rule. 
 * 
 * see:
 * https://github.com/twbs/bootstrap/issues/1768
 */

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}

body {
  padding-top: ceil(($line-height-computed * 2.17));
}
div.content {
  background-color: white;
  color: #333;
  padding-top: floor(($line-height-computed * 2.75));
  padding-bottom: floor(($line-height-computed * 0.75));
}

a:link, a:visited, a:hover, a:active {
  color: #777;
}

h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #252525;
  margin-top: 0;
}

h1, .h1 { 
  font-weight: 700; 
}
h2, .h2 { 
  font-weight: 700; 
}
li { 
  font-weight: 300; 
}
p { 
  font-weight: 300; 
}

.navbar-brand {
  background-image: url("/images/vc3-logo.png");
  background-position: 0 14px;
  background-repeat: no-repeat;
  padding-left: 30px;
  @media (max-width: $screen-xs-max) {
    background-position: 10px 14px;
    padding-left: 40px;
  }
}
.navbar-brand:hover,
.navbar-brand:active {
  background-image: url("/images/vc3-logo-white.png");
}

.navbar-social-media-links li {
}

/* JEJ */
@media (max-width: $screen-xs-max) {
  .navbar-social-media-links {
    margin-top: -6px;
  }
  #navlinks-get-project-updates {
    padding-left: $navbar-padding-horizontal;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #navlinks-github, #navlinks-twitter {
    padding-left: 30px;
  }
}
@media (min-width: $screen-sm-min) {
  #navlinks-get-project-updates {
    display: none;
  }
  #navlinks-github, #navlinks-twitter {
    background-position: 0 14px;
    background-repeat: no-repeat;
    color: transparent;
    padding-left: 12px;
    padding-right: 12px;
    width: 23px;
  }
  
  #navlinks-github {
    background-image: url("/images/github-logo-top.png");
    margin-right: 10px;
  }
  #navlinks-github:hover, #navlinks-github:active {
    background-image: url("/images/github-logo-top-white.png");
  }
  #navlinks-twitter {
    background-image: url("/images/twitter-logo-top.png");
    margin-right: 15px;
  }
  #navlinks-twitter:hover, #navlinks-twitter:active {
    background-image: url("/images/twitter-logo-top-white.png");
  }
}

.unslider {
  @media (max-width: $screen-xs-max) {
    h2 {
      text-align: center;
    }
  }
}

.unslider .unslider-nav li {
  background-color: #e4e4e4;
  border: none;
  height: 8px;
  width: 8px;
}
.unslider .unslider-nav li.unslider-active {
  background-color: #888888;
}
.carousel-text {
  @media (min-width: $screen-sm-min) {
    padding-top: floor(($line-height-computed * 1));
  }
  @media (min-width: $screen-md-min) {
    padding-top: floor(($line-height-computed * 2));
  }
  @media (min-width: $screen-lg-min) {
    padding-top: floor(($line-height-computed * 4));
  }
}

.lead {
  color: #aaa;
  font-size: floor(($font-size-base * 3));
  font-weight: 300;
  line-height: floor(($line-height-computed * 2.5));
  margin-top: floor(($line-height-computed * 2.5));
  margin-bottom: floor(($line-height-computed * 2.5));
  @media (max-width: $screen-xs-max) {
    font-size: floor(($font-size-base * 2));
    line-height: floor(($line-height-computed * 2));
  }
}

.vc3-light-bg {
  background-color: #ffffff;
}
.vc3-dark-bg {
  background-color: #323232;
  color: #ffffff;
}

.vc3-dpm {
  padding-top: floor(($line-height-computed * 3));
  padding-bottom: floor(($line-height-computed * 3));
  @media (max-width: $screen-xs-max) {
    padding-top: floor(($line-height-computed * 2));
    padding-bottom: floor(($line-height-computed * 2));
    h2 {
      text-align: center;
    }
  }
}

.band {
  background-color: #333333;
  padding-top: floor(($line-height-computed * 4));
  padding-bottom: floor(($line-height-computed * 4));
  h2 {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  p {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
}

.illustration {
  @media (max-width: $screen-xs-max) {
    text-align: center;
    .img-responsive {
      display: inline;
    }
  }
}

.round {
  border-radius: 50%;
}

.band.narrow {
  padding-top: floor(($line-height-computed * 3));
  padding-bottom: floor(($line-height-computed * 3));
}

#background_band_1 {
  background-image: url("/images/bg-1.png");
  background-position: 50% 0;
  height: 194px;
}
#background_band_2 {
  background-image: url("/images/bg-2.png");
  background-position: 50% 0;
  height: 194px;
}
#background_band_3 {
  background-image: url("/images/bg-3.png");
  background-position: 50% 0;
  height: 194px;
}

.emailform {
  background-color: #333333;
  padding-top: floor(($line-height-computed * 2.5));
  h2 {
    color: #eeeeee;
    margin-bottom: $line-height-computed;
    text-align: center;
  }
  form {
    margin-bottom: floor(($line-height-computed * 3));
    @media (max-width: $screen-xs-max) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

footer {
  font-size: ceil(($font-size-base * .75)); // ~12px
  padding-top: floor(($line-height-computed * 2));
  text-align: center;
  .separator {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  .copyright {
    color: #aaaaaa;
    padding-top: $line-height-computed;
  }
  .doe-logo {
    margin-top: 12px;
    position: relative;
    left: 10px;
    @media (max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }
  .small-logo {
    padding-right: 30px;
    padding-left: 30px;
  }
  #brookhaven-national-laboratory-logo {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 3px;
    }
  }
  #the-university-of-chicago-logo, #university-of-notre-dame-logo {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 24px;
    }
  }
}

div.documentation-sidebar {
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  >ul {
    padding-left: 0;
  }
}

article.news {
  margin-bottom: $line-height-computed;
  h2 {
    margin-bottom: 0;
    text-align: left;
  }
  p.time {
    margin-bottom: 0;
  }
  p:nth-last-child(2) {
    margin-bottom: 0;
  }
}

div.news-sidebar {
  h2 {
    text-align: left;
  }
  h3 {
    color: $text-color;
    font-size: $font-size-base;
    font-weight: 300;
    margin-bottom: 0;
  }
  li {
    list-style: none;
    text-indent: -.5em;
  }
  li:before { 
    content: '\b7\a0';
  }
  ul {
    padding-left: 1em;
  }
}

div.news-sidebar-section {
  margin-bottom: floor(($line-height-computed * 2));
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid #555555;
    padding-top: $line-height-computed;
    margin-bottom: $line-height-computed;
  }
}
  
