<% wrap_layout :layout do %>
  <div class="vc3-light-bg">
    <div class="container">
      <div class="row content">
        <div class="col-sm-4 documentation-sidebar">
          <ul><%= tree_to_html(data.documentationtree) %></ul>
        </div>
        <div class="col-sm-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
