<% wrap_layout :layout do %>
  <div class="vc3-light-bg">
    <div class="container">
      <div class="row content">
        <div class="col-xs-12">
          <h1 class="h2"><%= current_page.data.title %></h1>
        </div>
        <div class="col-sm-4">
          <%= yield_content :column1 %>
        </div>
        <div class="col-sm-4">
          <%= yield_content :column2 %>
        </div>
        <div class="col-sm-4">
          <%= yield_content :column3 %>
        </div>
      </div>
    </div>
  </div>
<% end %>
