---
title: VC3
---

<div class="band">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>VC3</h1>
        <p class="lead">A project to automatically <em>discover</em>,
<em>provision</em>, and <em>manage</em> the resources to build virtual
clusters&#8212;dynamic, infrastructures that enable extreme scale scientific
computation.</p>
      </div>
    </div>
  </div>
</div>

<div class="band" style="background: #f4f4f4;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Resources in Flux</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>Modern science research requires massive amounts of computational
resources. Instruments produce data at the petabyte scale. In addition, modern
research teams are dynamic, constantly growing and changing to meet the needs
of the science discovery process. The shared processing power, storage,
instruments, software and networks a team assembles through its members will
change during the life of an experiment.</p>
      </div>
      <div class="col-sm-6">
        <p>The VC3 project goal is to create the software to build and use
virtual clusters that represent these changing resources. With virtual
clusters, peers scattered all over the globe can use federated resources in a
way that is flexible and agile.</p>
      </div>
    </div>
  </div>
</div>

<div class="band">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2><small>Resource</small><br>Discovery</h2>
        <p>Create an environment that facilitates the discovery of computing
resources like processor time, data storage and networking across
geographically distributed, dynamic virtual organizations.</p>
        <p><a href="discovery.html">VCC and resource discovery &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2><small>Resource</small><br>Provisioning</h2>
        <p>Build an autonomous software agent that can provision resources with
general guidance from scientists. Provisioning will be flexible, resilient,
high throughput, and rapidly reconfigurable at runtime.</p>


        <p><a href="provisioning.html">VCC and resource provisioning &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2><small>Resource</small><br>Management</h2>
        <p>Find ways to streamline data management and analysis. Make research
results friendly to interactive analytics and discoverable by current and
future team members.</p>

        <p><a href="management.html">VCC and resource management &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="band" style="background-color: #f4f4f4;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Personnel</h2>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-sm-4">
        <h3>Brookhaven National Laboratory</h3>
        <p>
          John Hover<br/>
          <em>Brookhaven National Laboratory</em>
        </p>
      </div>
      <div class="col-sm-4">
        <h3>The University of Chicago</h3>
        <p>
          Robert Gardner<br/>
          <em>Computation Institute</em>
        </p>
        <p>
          David Miller<br/>
          <em>The Enrico Fermi Institute</em>
        </p>
      </div>
      <div class="col-sm-4">
        <h3>University of Notre Dame</h3>
        <p>
          Paul Brenner<br/>
          <em>Center for Research Computing</em>
        </p>
        <p>
          Michael Hildreth<br/>
          <em>Department of Physics</em>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="band">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>News</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Story #1</h3>
        <p>by <a href="#">Author</a>&#8212;October 15, 2016</p>
        <p>In hac habitasse platea dictumst. Sed blandit iaculis lobortis. Ut
nisl massa, lobortis a leo ut, imperdiet laoreet massa.</p>
        <p><a href="#">Read more &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h3>Story #2</h3>
        <p>by <a href="#">Author</a>&#8212;September 30, 2016</p>
        <p>sociis natoque penatibus et magnis dis parturient montes, nascetur
ridiculus mus. Vivamus odio turpis, semper vitae efficitur eget.</p>
        <p><a href="#">Read more &raquo;</a></p>

        <h2 style="margin-top: 44px;">Get project updates via email</h2>
        <form style="margin-bottom: 44px;">
          <div class="form-group">
            <input class="form-control" id="email" name="email" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="Submit">
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <h3>Story #3</h3>
        <p>by <a href="#">Author</a>&#8212;September 10, 2016</p>
        <p>Morbi venenatis mi ac egestas consectetur. Integer arcu
turpis, tempor vitae lectus luctus, interdum iaculis justo. Lorem ipsum
dolor.</p>
        <p><a href="#">Read more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="band" style="background-color: #f4f4f4;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Come work with us</h2>
        <p>Cloud computing, supercomputer applications, scientific
instrumentation, vast storage, and virtual networks are some of the building
blocks of scientific discovery. Help build infrastructure that will help
combine these pieces into a more usable whole.</p>

        <p>VC3 is currently looking for a <a href="#">dev/ops engineer</a> and
<a href="#">web developer</a>.</p>
        </ul>
      </div>
    </div>
  </div>
</div>


