---
title: Virtual Clusters for Community Computation
layout: layout
---

<div class="container card vc3-light-bg">
  <div class="row">
    <div class="col-xs-12">
      <div class="default-slider">
        <ul>
          <li>
            <div class="row">
              <div class="col-sm-7">
                <img class="img-responsive" src="/images/illustration-vc3.png"/>
              </div>
              <div class="col-sm-4 carousel-text">
                <h2>Virtual Clusters for Community Computation</h2>
                <p>Aenean effictur aliquam nisl, vel volupat ligula tincidunt
                commodo. Mauris eu molestie nibh. Fusce ac rhoncus augue. Integer
                quis pellentesque metus, vitae faucibus risus. Fusce nec semper
                justo, in permentum sem.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-sm-7">
                <img class="img-responsive" src="/images/illustration-resource-providers.png"/>
              </div>
              <div class="col-sm-4 carousel-text">
                <h2>Service Providers</h2>
                <p>Work with clients in the sciences. Demanding applications that
                push science research forward.</p>
                <p>Mauris suscipit mauris a odio imperdiet rhoncus et vitae magna.
                Cras in suscipit felis, quis accumsan quam. Sed eget mauris
                sodales justo varius maximus.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-sm-7">
                <img class="img-responsive" src="/images/illustration-clients.png"/>
              </div>
              <div class="col-sm-4 carousel-text">
                <h2>Clients</h2>
                <p>Know what resources are available to do your work.</p>
                <p>Curabitur molestie in lacus vitae fringilla. Fusce commodo 
                augue nec risus tincidunt mollis. Curabitur eu poseure nibh. Sed
                a malesuada liula.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-sm-7">
                <img class="img-responsive" src="/images/illustration-developers.png"/>
              </div>
              <div class="col-sm-4 carousel-text">
                <h2>Developers</h2>
                <p>Deal with resources in the abstract when you want to, or get
                more details when you need them.</p>
                <p>Ut in eros massa vulputate vestibulum. Nulla ipsum ante, 
                dapibus eu convallis ac, vehicula at magna. Aenean felis metus,
                pretium finibus consequat ut, euismod venenatis tellus.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container card vc3-dark-bg">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p class="lead">Automatically <em>discover</em>, <em>provision</em>,
      and <em>manage</em> the resources to build virtual clusters&#8212;dynamic
      infrastructures that enable extreme scale scientific computation.</p>
    </div>
  </div>
</div>

<div class="container card" id="background_band_1"></div>

<div class="container card vc3-dpm vc3-light-bg">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-3">
      <h2>Discovery</h2>
      <p>Create an environment that facilitates the discovery of computing
resources like processor time, data storage and networking across
geographically distributed, dynamic virtual organizations.</p>
    </div>
    <div class="col-sm-5 illustration">
      <img class="img-responsive" src="/images/illustration-1.png"/>
    </div>
  </div>
</div>

<div class="container card" id="background_band_2"></div>

<div class="container card vc3-dpm vc3-light-bg">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-3">
      <h2>Provisioning</h2>
      <p>Build an autonomous software agent that can provision resources with
general guidance from scientists. Provisioning will be flexible, resilient,
high throughput, and rapidly reconfigurable at runtime.</p>
    </div>
    <div class="col-sm-5 illustration">
      <img class="img-responsive" src="/images/illustration-2.png"/>
    </div>
  </div>
</div>

<div class="container card" id="background_band_3"></div>

<div class="container card vc3-dpm vc3-light-bg">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-3">
      <h2>Management</h2>
      <p>Find ways to streamline data management and analysis. Make research
results friendly to interactive analytics and discoverable by current and
future team members.</p>
    </div>
    <div class="col-sm-5 illustration">
      <img class="img-responsive" src="/images/illustration-3.png"/>
    </div>
  </div>
</div>

<div class="container card emailform">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Get project updates:</h2>
      <form action="https://getsimpleform.com/messages?form_api_token=157db69ce89e72e4294f47394ad8698c" method="post">
        <input type='hidden' name='redirect_to' value='http://virtualclusters.org/thankyou.html' />
        <div class="form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group">
          <input class="btn btn-primary form-control" type="submit" value="Sign up">
        </div>
      </form>
    </div>
  </div>
</div>

