---
title: Virtual Clusters for Community Computation
layout: layout
---

<div class="vc3-light-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="default-slider">
          <ul>
            <li>
              <div class="row">
                <div class="col-sm-7">
                  <img alt="Virtual Clusters for Community Computation" class="img-responsive" src="/images/illustration-vc3.png"/>
                </div>
                <div class="col-sm-4 carousel-text">
                  <h2>Virtual Clusters for Community Computation</h2>
                  <p>A platform for organizing and automating delivery of scientfic computing resources into a single logical environment.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-7">
                  <img alt="VC3 user communities" class="img-responsive" src="/images/illustration-clients.png"/>
                </div>
                <div class="col-sm-4 carousel-text">
                  <h2>User Communities</h2>
                  <p>Bring your institutional HPC cluster, INCITE/XSEDE allocation, or cloud resource into a single environment, controlled by policies you define.</p>
                </div>
              </div>
            </li>
	    <li>
              <div class="row">
                <div class="col-sm-7">
                  <img alt="High-performance computing, cloud and grid service providers" class="img-responsive" src="/images/illustration-resource-providers.png"/>
                </div>
                <div class="col-sm-4 carousel-text">
                  <h2>HPC, Cloud and Grid Service Providers</h2>
                  <p>VC3 will offer new approaches to present your HPC resources to scientific collaborations, large or small, or individual investigators.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-7">
                  <img alt="Workload developers" class="img-responsive" src="/images/illustration-developers.png"/>
                </div>
                <div class="col-sm-4 carousel-text">
                  <h2>Workload developers</h2>
                  <p>Deal with resources in the abstract when you want to, or get
                  more details when you need them. VC3 platforms will host modular services 
		  that orchestrate delivery of infrastructure to workload management systems.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vc3-dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="lead">VC3 platforms will automate processes that <em>discover</em>, <em>provision</em>,
        and <em>orchestrate</em> the resources to build virtual clusters&#8212;dynamic
        infrastructures that enable extreme scale scientific computation.</p>
      </div>
    </div>
  </div>
</div>

<div class="vc3-light-bg">
  <div class="container vc3-dpm">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Discover</h2>
        <p>Create an environment that facilitates the discovery of computing
resources like processor time, data storage and networking across
geographically distributed, dynamic virtual organizations.</p>
      </div>
    </div>
  </div>
</div>

<div class="background_band_1"></div>

<div class="vc3-light-bg">
  <div class="container vc3-dpm">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Provision</h2>
        <p>Allocate resources from existing facilities to virtually provision environments with
general guidance from scientists. Provisioning should be flexible, resilient,
high throughput, and rapidly reconfigurable at runtime.</p>
      </div>
    </div>
  </div>
</div>

<div class="background_band_2"></div>

<div class="vc3-light-bg">
  <div class="container vc3-dpm">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Orchestrate</h2>
        <p>Find ways to streamline data management and analysis. Make research
results friendly to interactive analytics and discoverable by current and
future team members.</p>
      </div>
    </div>
  </div>
</div>

<div class="socialmediaicons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Stay in touch:</h2>
        <p>
          <a href="http://twitter.com/virtualclusters"><img alt="Twitter" src="/images/twitter-logo-bot.png"/></a>
          <a href="http://github.com/vc3-project"><img alt="GitHub" src="/images/github-logo-bot.png"/></a>
          <a href="/feed.xml"><img alt="RSS" src="/images/rss-logo-bot.png"/></a>
        </p>
      </div>
    </div>
  </div>
</div>

