---
title: Resource Provisioning
---

<div class="band">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Resource Provisioning</h1>
        <p class="lead">Build an autonomous software agent that can provision
resources with general guidance from scientists. Provisioning will be flexible,
resilient, high throughput, and rapidly reconfigurable at runtime.</p>

        <p>Etiam auctor, dolor sit amet placerat convallis, nulla neque porta
justo, a dapibus odio dolor id mauris. Vivamus a venenatis nulla. Donec rhoncus
sit amet urna luctus bibendum. Morbi sit amet nisl eu arcu malesuada facilisis.
Aliquam pharetra est enim, ut sollicitudin orci accumsan sit amet. Nunc egestas
egestas sodales. Suspendisse potenti. Ut dignissim turpis nec nibh suscipit
facilisis. Sed fermentum erat volutpat neque malesuada, at suscipit erat
fermentum. Aenean dictum euismod enim, non sollicitudin tortor auctor
aliquet.</p>

        <p>Curabitur ut varius magna. Duis ex felis, venenatis nec metus
semper, facilisis aliquet tellus. Cum sociis natoque penatibus et magnis dis
parturient montes, nascetur ridiculus mus. Duis vitae ante id ex fermentum
tristique. Morbi eu aliquam orci. Aenean eget magna at justo volutpat laoreet
lobortis eu turpis. Cras dolor nulla, semper non finibus dignissim, viverra sed
eros. Maecenas id ornare orci. Ut a odio arcu. Mauris in ex eget lectus cursus
iaculis. Proin neque orci, ultrices a neque a, eleifend convallis arcu.</p>

        <p>In mollis lectus a placerat accumsan. Nullam a euismod ex, in
condimentum odio. Nullam eget dolor dictum, condimentum nunc vel, rhoncus ante.
Proin convallis libero a rutrum pretium. Sed ac lectus sit amet lacus
condimentum malesuada vel nec nunc. Ut placerat, mauris in hendrerit molestie,
turpis enim consequat metus, sed rutrum est turpis eu tortor. Cras a lacus nec
justo tempus semper. Phasellus tempor risus vitae lacus malesuada pulvinar.
Aliquam id vestibulum ex. Quisque hendrerit sapien lectus, non finibus lorem
tristique condimentum. Fusce iaculis porta maximus. Aliquam erat volutpat.</p>

        <p>Curabitur ut congue orci. Curabitur molestie rhoncus ipsum,
venenatis lobortis mauris dictum sit amet. Interdum et malesuada fames ac ante
ipsum primis in faucibus. Duis feugiat sapien nisi, quis viverra mauris
fringilla quis. Praesent a enim purus. Vivamus id consectetur diam. Cras felis
magna, faucibus non nibh nec, scelerisque convallis magna. Donec elementum
felis et nunc bibendum pellentesque. Etiam sit amet lobortis justo. Proin quis
dolor laoreet, ultricies tortor quis, eleifend elit. Vivamus nisi justo,
tristique ut ultrices ut, placerat non lectus. Sed nibh enim, ullamcorper non
odio quis, fringilla laoreet urna.</p>

        <p>Praesent maximus mauris elit, non rutrum metus hendrerit tristique.
Aenean blandit eget augue ac viverra. Aenean vitae justo blandit, cursus tellus
in, euismod sapien. Duis tempus orci ut erat finibus dapibus. Fusce justo
felis, facilisis eget nunc nec, suscipit gravida lorem. Ut imperdiet diam ac
arcu laoreet, sit amet feugiat lacus varius. Duis augue mi, rutrum ac est
finibus, placerat porta est. Fusce id tincidunt nisi, id molestie elit. Aenean
pharetra quam ut scelerisque sollicitudin. Phasellus fermentum maximus
laoreet.</p>

      </div>
    </div>
  </div>
</div>
